@model IEnumerable<InvoiceManagement.Web.App.Models.Resident.GetResidentsViewModel>

@{
    ViewData["Title"] = "Resident Page";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Kullanıcı Listesi</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Resident" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Yeni Oluştur
            </a>
        </div>
    </div>

    <br /><br />

    @if (Model.Any())
    {

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
            <tr>
                <th scope="col">Kullanıcı</th>
                <th scope="col">Kullanıcı İsmi</th>
                <th scope="col">Daire Bilgisi</th>
                <th scope="col">Araç Palakası</th>
                <th scope="col">Kiracı mı?</th>
                <th scope="col">Daire sahibi mi?</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.UserId</th>
                    <td >@item.UserName</td>
                    <td >@item.House</td>
                    <td >@item.CarPlate</td>
                    <td >@item.IsHirer</td>
                    <td class="text-center">
                        <a asp-controller="Resident" asp-action="Delete" asp-route-Id=@item.UserId class="btn btn-danger">
                            Sil
                        </a>
                        <a asp-controller="Resident" asp-action="Edit" asp-route-Id=@item.UserId class="btn btn-primary">
                            Düzenle
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h5 class="text-center">Gösterilecek veri bulunamadı.</h5>
    }

</div>